

.start img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 10%;
    border-style: solid;
    border-color: white;
    padding:10px;
    border-radius: 10%;
}
.quote{
    margin-top: 5%;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: large;
    opacity: 0;
}
.quote-name{
    color: white;
    text-align: center;
    font-size: large;
    padding-left: 35%;
    opacity:0;
}
.quoteJ{
  margin-top: 5%;
  color: #32363A;
  text-align: center;
  font-style: italic;
  font-size: large;
}
.quote-nameJ{
  color:#32363A;
  text-align: center;
  font-size: large;
  float:right;
}
#menu-btn:hover{
  opacity:0.6;
}
#logo:hover{
  opacity:0.8;
}
.banner{
    background-color:white;
    padding-left:1%;
    padding-right:1%;
    width:100%;
    top: 0;
    left: 0;
    position: fixed;
    border-style: solid;
    border-color: #A7CE39;
    z-index: 2;
}
.banner input{
    height:40px;
    width: 40px;
}
.banner img{
    padding-top: 3%;
    height:40px;
    width: 50px;
    float:right;
    padding-bottom: 3%;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    background-color: #A7CE39;
  }
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
.first-info{
  margin: 3%;
  color: #32363A;
  font-size: 150%;
  padding-top: 5%;
}

.preguntas{
  text-align: center;
  font-weight: bold;
  color: #32363A;
  border-style: solid;
  border-radius: 5%;

  margin-top: 5%;
}

.contacto{
  margin-top: 5px;
  border-style: solid;
  border-radius: 2%;
  border-color: #A7CE39;
}
.info-contacto{
  margin-top: 5px;
  border-style: solid;
  border-radius: 2%;
  border-color: #A7CE39;
  text-align: center;
  color: #32363A;
}

.subtitle{
  text-align: center;
  color: #32363A;
  font-size: 150%;
  
}

.first{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 600px;
  margin-top: 3%;
  background: url("media/outsourcing.jpg") center center /cover no-repeat;
  display: block;
}
.first-sm{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 600px;
  margin-top: 3%;
  background: url("media/outsourcing.jpg") center center /cover no-repeat;
  display: block;
}
#outsourcing-sm{
  width: 100%;
  height: 100%;
}
.p-top{
  padding-top: 1%;
  text-align: center;
  font-weight: bold;
  color: #32363A;
  font-size: 250%;
}
.p-top-sm{
  margin-top: 10%;
  padding-top: 1%;
  text-align: center;
  font-weight: bold;
  color: #32363A;
  font-size: 250%;
}

.p-bot{
  position: absolute;
  bottom: 0;
  font-weight: bold;
  color: #32363A;
  font-size: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
#servicios{
  padding-top:3%;
}
.nomServicios{
  color: #32363A;
  text-align: center;
}
.nomServicios:hover{
  color:#A7CE39;
}
.detailServicios{
  text-align: center;
  color: #32363A;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
#img-asesoria{
  width:70%;
  height:90%;
  transform: rotate(270deg);
  margin-left: 15%;
  
}
#img-asesoria-sm{
  width: 70%;
  height:70%;
  transform: rotate(270deg);
  margin-left: 15%;
    
}
#img-procesos-judiciales{
  width:100%;
  height:100%;
  padding: 5%;
  margin: 5%;
}
#img-procesos-judiciales-sm{
  width:100%;
  height:100%;
  padding: 5%;
  margin-right: 10%;
  
  
}

#img-estudio-titulos{
  width: 90%;
  height:110%;
  transform: rotate(270deg);
  margin-left: 2%;
  margin-bottom: 5%;
  padding: 3%;
  
}
#img-estudio-titulos-sm{
  width: 90%;
  height:100%;
  transform: rotate(270deg);
  margin-left: 2%;
  padding: 3%;
}

.mas{
  padding-top: 3%;
}

.carImg{
  transform: rotate(270deg);
  width: 100%;
  height: 100%;
  margin-top: -10px;
}
.carImgOffset{
  margin-top: -65px;
}
.carImgOffset-titulo{
  margin-top: 25px;
}
.car{
  margin-left: 15%;
  margin-right: 15%;
  width:400px;
  height:400px;
}
.acc{
  width:150%;
  margin-left: auto;
  margin-right: auto;  
}
.accordion h5{
  text-align: center;
}
.cultura{
  padding: 1%;
  padding-left:3%;
  background-color: white;
  font-size: 150%;
  color: #32363A;
  border-style: solid;  
  border-radius: 5%;
  border-color: #A7CE39;
}
hr {
  margin-left: 3%;
  margin-right: 3%;
}
